<mat-card class="product-card" *ngIf="prodObj">
  <mat-card-header>
    <mat-card-title>{{ prodObj.name }}</mat-card-title>
    <mat-card-subtitle>{{ prodObj.category }}</mat-card-subtitle>
  </mat-card-header>

  
  <mat-card-content>
    <p class="price">₹ {{ prodObj.price }}</p>
    <p class="desc">{{ prodObj.description }}</p>
  </mat-card-content>

  <mat-card-actions>
  <button
  mat-raised-button
  color="primary"
  (click)="onEdit()"
  [routerLink]="['/products', prodObj.id, 'edit']">
  Edit
</button>

    <button mat-stroked-button color="warn" (click)="onRemove()">Remove</button>
  </mat-card-actions>
</mat-card>
