  <div>
      <button  mat-raised-button routerLink="addProducts" color="primary" >Add Product</button>
  </div>
  <br>
<div class="row">
   
  <div class="col-md-4">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let product of productArr"
        (click)="getProduct(product)"
      >
        {{ product.name }} 
        <!-- {{ product.id }} -->
          
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <!-- product details here -->
     <router-outlet></router-outlet>
  </div>
</div>
